/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_da.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "base";
            bindings = <
&none  &kp Q               &kp W              &kp E                &kp R                  &kp T        &kp Y    &kp U                   &kp I                 &kp O               &kp P                &none
&none  &hm LEFT_META DA_A  &hm LEFT_ALT DA_S  &hm LEFT_SHIFT DA_D  &hm LEFT_CONTROL DA_F  &kp G        &kp H    &hm RIGHT_CONTROL DA_J  &hm RIGHT_SHIFT DA_K  &hm RIGHT_ALT DA_L  &hm RIGHT_META SEMI  &none
&none  &kp Z               &kp X              &kp C                &kp V                  &kp B        &kp N    &kp M                   &kp COMMA             &kp DOT             &kp FSLH             &none
                                              &kp ESCAPE           &lt 2 TAB              &kp SPACE    &kp RET  &lt 1 BACKSPACE         &kp LA(BACKSPACE)
            >;
        };

        left {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "left";
            bindings = <
&none  &kp DA_FSLH       &kp DA_AT       &kp DA_UNDERSCORE  &kp DA_PLUS       &kp DA_MINUS    &kp DA_LEFT_PARENTHESIS  &kp DA_RIGHT_PARENTHESIS  &kp DA_DOUBLE_QUOTES  &kp DA_SINGLE_QUOTE  &kp DA_A_RING   &none
&none  &kp DA_BACKSLASH  &kp DA_PERCENT  &kp DA_PIPE        &kp DA_AMPERSAND  &kp DA_STAR     &kp LS(LA(DA_N8))        &kp LS(LA(DA_N9))         &kp DA_DOLLAR         &kp DA_GRAVE         &kp DA_O_SLASH  &none
&none  &kp DA_CARET      &kp DA_HASH     &kp DA_TILDE       &kp DA_LT         &kp DA_GT       &kp DA_LEFT_BRACKET      &kp DA_RIGHT_BRACKET      &kp DA_EXCLAMATION    &kp DA_EQUAL         &kp DA_AE       &none
                                         &trans             &trans            &trans          &trans                   &trans                    &trans
            >;
        };

        right {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "right";
            bindings = <
&none  &kp DA_N1  &kp DA_N2  &kp DA_N3  &trans     &trans    &kp K_PREVIOUS  &kp K_PLAY_PAUSE  &kp C_PAUSE  &kp K_NEXT  &kp C_VOLUME_UP    &none
&none  &kp DA_N4  &kp DA_N5  &kp DA_N6  &trans     &trans    &kp LEFT        &kp DOWN          &kp UP       &kp RIGHT   &kp C_VOLUME_DOWN  &none
&none  &kp DA_N7  &kp DA_N8  &kp DA_N9  &kp DA_N0  &trans    &kp HOME        &kp PAGE_DOWN     &kp PAGE_UP  &kp END     &kp K_MUTE         &none
                             &trans     &trans     &trans    &trans          &trans            &trans
            >;
        };

        tri {
            bindings = <
&none  &none  &none  &none   &none   &none     &none   &none   &none   &none  &none  &none
&none  &none  &none  &none   &none   &none     &none   &none   &none   &none  &none  &none
&none  &none  &none  &none   &none   &none     &none   &none   &none   &none  &none  &none
                     &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };

        backup {
            display-name = "left";
            bindings = <
&none  &kp DA_EXCL           &kp DA_AT                 &kp DA_HASH        &kp DA_DOLLAR         &kp DA_PERCENT    &kp DA_CARET      &kp DA_AMPS        &kp DA_STAR   &kp DA_GRAVE  &kp DA_TILDE    &none
&none  &kp DA_DOUBLE_QUOTES  &kp DA_LEFT_PARENTHESIS   &kp LS(LA(DA_N8))  &kp DA_LEFT_BRACKET   &none             &kp DA_SLASH      &kp DA_MINUS       &kp DA_PLUS   &kp DA_PIPE   &kp DA_A_RING   &none
&none  &kp DA_SINGLE_QUOTE   &kp DA_RIGHT_PARENTHESIS  &kp LS(LA(DA_N9))  &kp DA_RIGHT_BRACKET  &none             &kp DA_BACKSLASH  &kp DA_UNDERSCORE  &kp DA_EQUAL  &kp DA_AE     &kp DA_O_SLASH  &none
                                                       &trans             &trans                &trans            &trans            &trans             &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
